<mat-card *ngIf="awaitingResponse" class="board-input">
    <mat-card-title>
        <pre>{{notificationData.message}}</pre>
    </mat-card-title>
    <mat-action-list>
        <mat-divider></mat-divider>
        <button mat-list-item *ngFor="let option of notificationData?.options; last as last"
        (click)="onQuestionAnswer(option)"
        (mouseenter)="onOptionMouseEnter(option)"
        (mouseleave)="onOptionMouseLeave(option)">
            <span>{{option}}</span>
            <mat-divider *ngIf="!last"></mat-divider>
        </button>
        <button mat-list-item *ngIf="!notificationData.options"
        (click)="onQuestionAnswer(undefined)">
            <span>OK</span>
        </button>
    </mat-action-list>
</mat-card>
