.board-input {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 0;

    mat-card-title {
        max-height: 100%;
        width: 100%;
        margin: 5px 0;

        pre {
            width: 100%;
            text-align: center;
            white-space: pre-wrap;
            font-family: inherit;
            font-size: 16px;
            margin: 0;
        }
    }
}
