
<div class="tile-wrapper"
[style.backgroundColor]="highlighted ? (getTileHighlightColor() | lighten: 0.8)  : 'white'">
  <div class="tile-info-wrapper">
    <div class="tile-header"
    [style.backgroundColor]="tile.color | lighten: 0.9">
      <p>{{tile.name}}</p>
      <p *ngIf="tileData.value">{{tileData.value}}</p>
    </div>
    <p *ngIf="tileData.info">{{tileData.info}}</p>
    <div class="marker-wrapper">
      <div *ngFor="let player of tileData.players" class="player-marker"
      [style.backgroundColor]="player.color"></div>
    </div>
  </div>
  <div class="level-indicator">
    <mat-icon *ngFor="let icon of tileData.indicators">{{icon}}</mat-icon>
  </div>
</div>
