<form *ngIf="tradeData" [formGroup]="tradeData.myForm">
  <mat-card class="header-colored-card main-trade-card">
    <mat-card-header>
      <mat-card-subtitle>Trade</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-card class="header-colored-card trade-card trade-card-me">
        <mat-card-header>
          <mat-card-subtitle>You</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list class="tile-list left-align">
            <mat-divider></mat-divider>
            <button mat-list-item *ngFor="let option of tradeData.myForm.get('tiles').value"
            (click)="removeTile(option)" disableRipple>
              <span>{{option}}</span>
              <mat-icon>close</mat-icon>
              <mat-divider></mat-divider>
            </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>

      <mat-form-field class="trade-value trade-value-me" appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="value">
        <span matPrefix>Ƶ&nbsp;</span>
      </mat-form-field>

      <button class="trade-icons trade-icons-negative-me" mat-icon-button disableRipple
        [ngClass]="isMySentiment('negative') ? 'trade-icons-active' : ''"
        (click)="setSentiment('negative')">
        <span class="material-icons-outlined">mood_bad</span>
      </button>
      <button class="trade-icons trade-icons-question-me" mat-icon-button disableRipple
        [ngClass]="isMySentiment('question') ? 'trade-icons-active' : ''"
        (click)="setSentiment('question')">
        <span class="material-icons-outlined">sentiment_neutral</span>
      </button>
      <button class="trade-icons trade-icons-positive-me" mat-icon-button disableRipple
        [ngClass]="isMySentiment('positive') ? 'trade-icons-active' : ''"
        (click)="setSentiment('positive')">
        <span class="material-icons-outlined">mood</span>
      </button>

      <mat-card class="header-colored-card header-custom-color trade-card trade-card-them">
        <mat-card-header>
          <mat-card-subtitle [style.color]="tradeData.them.color">{{tradeData.them.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list class="tile-list left-align">
            <mat-divider></mat-divider>
            <button mat-list-item *ngFor="let option of tradeData.theirSide.form.tiles"
            disabled disableRipple>
              <span>{{option}}</span>
              <mat-divider></mat-divider>
            </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>

      <mat-form-field class="trade-value trade-value-them" appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" [value]="tradeData.theirSide.form.value || 0" disabled>
        <span matPrefix>Ƶ&nbsp;</span>
      </mat-form-field>

      <button class="trade-icons trade-icons-positive-them" mat-icon-button disableRipple disabled
        [ngClass]="isTheirSentiment('positive') ? 'trade-icons-active' : ''">
        <span class="material-icons-outlined">mood</span>
      </button>
      <button class="trade-icons trade-icons-question-them" mat-icon-button disableRipple disabled
        [ngClass]="isTheirSentiment('question') ? 'trade-icons-active' : ''">
        <span class="material-icons-outlined">sentiment_neutral</span>
      </button>
      <button class="trade-icons trade-icons-negative-them" mat-icon-button disableRipple disabled
        [ngClass]="isTheirSentiment('negative') ? 'trade-icons-active' : ''">
        <span class="material-icons-outlined">mood_bad</span>
      </button>

      <div class="trade-confirm-button">
        <button appDebounceClick color="primary" [debounceTime]="100" (debounceClick)="toggleConfirm()" mat-flat-button>Confirm</button>
      </div>

      <div *ngIf="tradeData.myForm.get('confirmed').value" class="trade-block trade-block-me"></div>
      <div *ngIf="tradeData.theirSide.form.confirmed" class="trade-block trade-block-them"></div>

    </mat-card-content>
  </mat-card>
</form>
