<div class="new-game-wrapper">
  <div [formGroup]="matchOptions" class="match-options">
    <div class="join-option">
      <mat-form-field class="join-input">
        <mat-label>Game ID</mat-label>
        <input matInput placeholder="Game ID" #gameid autocomplete="off">
      </mat-form-field>
      <button mat-raised-button color="primary"
      class="join-btn" style="font-size: large;"
      (click)="join(gameid)">
        Join
      </button>
    </div>
    Or
    <button mat-raised-button color="primary"
      class="new-game-btn" style="font-size: large;"
      (click)="createNewGame()">
      Create a new game
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Board</mat-label>
      <mat-select formControlName="board">
        <mat-option *ngFor="let board of boards" [value]="board">
          {{board}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>A.I.</mat-label>
    <mat-slide-toggle formControlName="ai" color="primary"></mat-slide-toggle>
  </div>
</div>
