::ng-deep .right-aligned-header > .mat-content {
    justify-content: space-between;
}

::ng-deep .mat-content > mat-panel-description {
    justify-content: flex-end;
}

::ng-deep .mat-expansion-panel-header > .mat-content {
    overflow: visible;
}

.game-wrapper {
    height: 100%;

    .board {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(11, minmax(0, 1fr));
        grid-template-rows: repeat(11, minmax(0, 1fr));

        >.tile {
            position: relative;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            cursor: pointer;
        }

        >.board-center {
            display: grid;
            grid-template-columns: repeat(9, minmax(0, 1fr));
            grid-template-rows: repeat(9, minmax(0, 1fr));
            grid-column: 2 / span 9;
            grid-row: 2 / span 9;
            column-gap: 10px;
            row-gap: 10px;
            margin: 10px;

            .info-column {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                grid-column: 1 / span 3;
                grid-row: 1 / span 9;

                .player-list {

                    .player-card {

                        mat-icon {
                            margin-left: 5px;
                        }

                        .player-properties {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            .action-card {
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));
                grid-template-rows: repeat(2, minmax(0, 1fr));
                grid-column: 4 / span 3;
                grid-row: 1 / span 2;
                column-gap: 5px;
                row-gap: 5px;

                .play-button {
                    grid-column: 1 / span 4;
                    grid-row: 1 / span 1;
                    border-radius: 3px;
                    outline: none;
                    font-size: 2em;
                }

                .turn-display {
                    grid-column: 1 / span 4;
                    grid-row: 1 / span 1;
                    font-size: 1.2em;
                    text-align: center;
                }

                .dice-wrapper {
                    grid-column-end: span 2;
                    grid-row: 2 / span 2;

                    &.last-roll {
                        grid-column-start: 1;
                    }

                    &.current-roll {
                        grid-column-start: 3;
                    }

                    .dice-content {
                        padding: 0;

                        .dice {
                            display: flex;
                            justify-content: center;

                            >.crop {
                                width: 30px;
                                height: 30px;
                                overflow: hidden;
                                margin: 0 3px;

                                >img {
                                    height: 66px;
                                    margin-top: -16px;
                                }
                            }
                        }
                    }
                }
            }

            >moar-munz-prompt {
                display: flex;
                flex-direction: column;
                grid-column: 4 / span 3;
                grid-row-start: 3;
            }

            >.trade-info {
                overflow-y: auto;
                grid-column: 4 / span 3;
                grid-row: 6 / span 4;
            }

            >.board-chat {
                grid-column: 7 / span 3;
                grid-row: 1 / span 9;
                overflow-y: auto;

                .chat-content {
                    padding-bottom: 0;
                }
            }
        }
    }
}
