<div *ngIf="!match">
    <h1>Lobby</h1>
    <div class="player-wrapper">
        <div *ngFor="let player of lobby?.players">
            <input *ngIf="player.id == socketId" type="checkbox"
            [formControl]="ready">
            <input *ngIf="player.id != socketId" type="checkbox"
            [checked]="player.ready" disabled>
    
            <span [style.textDecoration]="player.id == socketId ? 'underline' : 'none'"
            [style.color]="player.color">{{player.name}}</span>
        </div>
    </div>
</div>
<div *ngIf="match" class="game-wrapper">
    <div class="board">
        <div *ngFor="let title of match.board; let i = index"
        [style.left.%]="title.x * 100 / (match.lineLength + 1)"
        [style.top.%]="title.y * 100 / (match.lineLength + 2)"
        [style.width.%]="100 / (match.lineLength + 1)"
        [style.height.%]="100 / (match.lineLength + 2)"
        [style.border]="'1px solid ' + title.color"
        [style.backgroundColor]="title.color | lighten: 0.9"
        class="title">
            <p>{{title.name}}{{title.level ? ' ('+(title.level-1)+')' : ''}}{{title.worldcup ? ' WC' : ''}}</p>
            <p *ngIf="title.price">{{title.value ? 'Value: '+title.value : 'Price: '+title.price}}</p>
            <p *ngIf="title.currentRent">Rent: {{title.currentRent}}</p>
            <p *ngIf="title.multiplier">Multiplier: x{{title.multiplier}}</p>
            <p *ngIf="title.tax">Tax: {{100 * title.tax}}%</p>
            <div class="marker-wrapper">
                <div *ngFor="let player of title.players" class="player-marker"
                [style.backgroundColor]="player.color"></div>
            </div>
        </div>
        <div class="board-center"
        [style.left.%]="100 / (match.lineLength + 1)"
        [style.top.%]="100 / (match.lineLength + 2)"
        [style.width.%]="100 * (match.lineLength - 1) / (match.lineLength + 1)"
        [style.height.%]="100 * (match.lineLength - 1) / (match.lineLength + 2)">
            <div class="info-column">
                <h1>Game</h1>
                <div class="dice">
                    <div>{{match?.lastDice[0]}}</div>
                    <div>{{match?.lastDice[1]}}</div>
                </div>
                <div [style.visibility]="isMyTurn ? 'visible' : 'hidden'" class="actions">
                    <button (click)="throwDice()">Play!</button>
                </div>
                <div class="player-list">
                    <div *ngFor="let player of match?.players; let i = index"
                    class="player-card"
                    [style.border]="match.playerTurn.id === player.id ? '1px solid '+player.color : '1px solid black'"
                    [style.border-left-width.px]="match.playerTurn.id === player.id ? 5 : 1">
                        <span [style.textDecoration]="player.id == socketId ? 'underline' : 'none'"
                        [style.color]="player.color">{{player.name}}</span>
                        <span>{{player.money}}</span>
                        <span *ngFor="let property of player.properties"
                        style="font-size: smaller;">{{property}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="boardInput" class="board-input">
                <span>{{boardInput.question}}</span>
                <button *ngFor="let option of boardInput.options"
                (click)="onQuestionAnswer(option)">{{option}}</button>
            </div>
            <div class="board-info"></div>
        </div>
    </div>
</div>
