<div *ngIf="!match" class="lobby-wrapper">
    <mat-card class="player-wrapper">
        <mat-card-title>Lobby</mat-card-title>
        <mat-divider></mat-divider>
        <mat-list class="player-list">
            <mat-list-item *ngFor="let id of lobby?.playerOrder; last as last"
            class="player-list-item"
            [style.backgroundColor]="id === uuid ? 'none' : '#eee'">
                <div *ngIf="lobby.players[id]" class="player-item">
                    <span [style.color]="lobby.players[id].color">{{lobby.players[id].name}}</span>

                    <mat-icon *ngIf="!lobby.players[id].ready" [style.color]="lobby.players[id].color">hourglass_empty</mat-icon>
                    <mat-icon *ngIf="lobby.players[id].ready" [style.color]="lobby.players[id].color">check_circle</mat-icon>

                </div>
                <div *ngIf="uuid === lobby?.playerOrder[0] && lobby.players[id]?.ai"
                    class="player-remove"
                    (click)="onLobbyPlayerClick(lobby.players[id])">
                    <span>Remove</span>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card>
    <button *ngIf="player?.ready" class="ready-button" mat-flat-button color="warn" (click)="onReady(false)">Not ready!</button>
    <button *ngIf="!player?.ready" class="ready-button" mat-flat-button color="primary" (click)="onReady(true)">I'm ready!</button>
</div>
<div *ngIf="match" class="game-wrapper">
    <div class="board">
        <div *ngFor="let tile of match.board.tiles; let i = index"
        [style.left.%]="tile.x * 100 / (match.board.lineLength + 1)"
        [style.top.%]="tile.y * 100 / (match.board.lineLength + 2)"
        [style.width.%]="100 / (match.board.lineLength + 1)"
        [style.height.%]="100 / (match.board.lineLength + 2)"
        [style.border]="'1px solid ' + tile.color"
        [style.backgroundColor]="tile.color | lighten: 0.9"
        [style.box-shadow]="tile.highlighted ? '0 0 10px 0 ' + tile.color : ''"
        class="tile" (click)="onTileClicked(tile)"
        (mouseenter)="onTileMouseEnter(tile)"
        (mouseleave)="onTileMouseLeave(tile)">
            <p>{{tile.name}}{{tile.level ? ' ('+(tile.level-1)+')' : ''}}{{tile.worldcup ? ' WC' : ''}}</p>
            <p *ngIf="tile.price">{{tile.value ? 'Value: '+tile.value : 'Price: '+tile.price}}</p>
            <p *ngIf="tile.currentRent > 0">Rent: {{tile.currentRent}}</p>
            <p *ngIf="tile.multiplier">Multiplier: x{{tile.multiplier}}</p>
            <p *ngIf="tile.tax">Tax: {{100 * tile.tax}}%</p>
            <div class="marker-wrapper">
                <div *ngFor="let player of getPlayersInTile(i)" class="player-marker"
                [style.backgroundColor]="player.color"></div>
            </div>
        </div>
        <div class="board-center"
        [style.left.%]="100 / (match.board.lineLength + 1)"
        [style.top.%]="100 / (match.board.lineLength + 2)"
        [style.width.%]="100 * (match.board.lineLength - 1) / (match.board.lineLength + 1)"
        [style.height.%]="100 * (match.board.lineLength - 1) / (match.board.lineLength + 2)">
            <div class="info-column">
                <p>Last roll:</p>
                <div class="dice">
                    <div>{{match?.lastDice[0]}}</div>
                    <div>{{match?.lastDice[1]}}</div>
                    <button mat-flat-button color="primary" [style.visibility]="isMyTurn ? 'visible' : 'hidden'" (click)="throwDice()">Play!</button>
                </div>
                <div class="player-list">
                    <div *ngFor="let player of players; let i = index"
                    class="player-card"
                    [style.border]="playerTurn === player.id ? '1px solid '+player.color : '1px solid black'"
                    [style.border-left-width.px]="playerTurn === player.id ? 5 : 1"
                    [style.box-shadow]="player.highlighted ? '0 0 10px 0 ' + player.color : ''"
                    (mouseenter)="onPlayerMouseEnter(player)"
                    (mouseleave)="onPlayerMouseLeave(player)">
                        <span [style.textDecoration]="player.id == uuid ? 'underline' : 'none'"
                        [style.color]="player.color">{{player.name}}</span>
                        <span><strong>$ {{player.money}}</strong></span>
                        <span *ngFor="let property of getPlayerProperties(player)"
                        style="font-size: smaller;">{{property.name}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="notificationData" class="board-input">
                <pre>{{notificationData.message}}</pre>
                <button mat-stroked-button color="primary" *ngFor="let option of notificationData?.options"
                (click)="onQuestionAnswer(option)"
                (mouseenter)="onOptionMouseEnter(option)"
                (mouseleave)="onOptionMouseLeave(option)">{{option}}</button>
                <button mat-stroked-button color="primary" *ngIf="!notificationData.options"
                (click)="notificationData = undefined">OK</button>
            </div>
            <div class="board-info"></div>
        </div>
    </div>
</div>
