::ng-deep .right-aligned-header > .mat-content {
    justify-content: space-between;
}

::ng-deep .mat-content > mat-panel-description {
    justify-content: flex-end;
}

::ng-deep .mat-expansion-panel-header > .mat-content {
    overflow: visible;
}

.game-wrapper {
    height: 100%;

    .board {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(11, minmax(0, 1fr));
        grid-template-rows: repeat(11, minmax(0, 1fr));

        >.tile {
            position: relative;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            cursor: pointer;
        }

        >.board-center {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-column: 2 / span 9;
            grid-row: 2 / span 9;
            column-gap: 10px;
            row-gap: 10px;
            margin: 10px;

            .info-column {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                grid-column: 1;
                grid-row: 1 / span 2;

                >p {
                    margin-bottom: 0;
                }

                .dice {
                    display: flex;
                    margin-bottom: 10px;

                    >div {
                        display: flex;
                        border: 1px solid black;
                        border-radius: 3px;
                        background-color: lightgray;
                        width: 30px;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        margin-right: 5px;
                    }

                    button {
                        flex-grow: 1;
                        border-radius: 3px;
                        outline: none;
                    }
                }

                .player-list {

                    .player-card {

                        mat-icon {
                            margin-left: 5px;
                        }

                        .player-properties {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            >.trade-info {
                overflow-y: auto;
                grid-column: 2;
                grid-row: 1;
            }

            >.board-input-wrapper {
                grid-column: 2;
                grid-row: 2;
                display: flex;
                flex-direction: column;

                >.board-input {
                    display: flex;
                    flex-direction: column;
                    max-height: 100%;
                    padding: 0;

                    mat-card-title {
                        max-height: 100%;
                        width: 100%;
                        margin: 15px 0 5px 0;

                        pre {
                            width: 100%;
                            text-align: center;
                            white-space: pre-wrap;
                            font-family: inherit;
                            font-size: 16px;
                            margin: 0;
                        }
                    }

                    mat-action-list {
                        overflow: auto;
                        height: 100%;
                        flex: 1 1 auto;
                        padding: 0;

                        button {
                            height: 36px;

                            span {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            >.board-chat {
                grid-column: 3;
                grid-row: 1 / span 2;
                overflow-y: auto;
                padding-bottom: 0;
            }
        }
    }
}
